*~
*.pyc
*.class
*.swp
*.log
*.retry
.vagrant
*private_key
do_not_checkin/
ansible/playbook.retry
ansible/roles
playbooks/roles/external
playbooks/ssh-server/
playbooks/ssh-user/
playbooks/files/awaters.pub

